<h3>About us</h3>
<br>
<div id="about" class="row">
  <div class="col-md-4">
    <h5>Contact us</h5>
    <p>{{address}}</p>
    <p>{{phone}}</p>
    <p><a href="{{email}}">{{email}}</a></p>
  </div>
  <div class="col-md-4">
    <h5>Our Mission</h5>
    <p>We're as passionate about remembering some guys as you are, and we're excited to bring you a new opportunity to bridge that experience with a fantasy sports app.</p>
  </div>
  <div class="col-md-4">
    <h5>About our developers</h5>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>

</div>
