table {
  color: #fff;
}
h3, h4 {
  color: #fff;
}
.jumbotron {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
}

table {
  border-radius: 15px;
  color: #fff;
}
td, th {
max-width: 100px;
}
