table {
  color: #fff;
}
h3, h4 {
  color: #fff;
}
.jumbotron {
  background-color: black;
  border-radius: 10px;
  opacity: 0.5;
  padding: 20px;
}
.jumbotron:hover {
  opacity: 1.0;
}
table {
  border-radius: 15px;
  color: #fff;
}
td, th {
max-width: 100px;
}
