<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" routerLink="/">Home</a> -->
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="isLoggedIn">
        <a>{{userName}}</a>
        <a class="btn btn-outline-secondary" (click)="logout()">Log out</a>
      </li>
      <li *ngIf ="!isLoggedIn">
        <a class="btn btn-outline-secondary" (click)="login()">Log in</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar sticky-top">
  <a class="navbar-brand btn btn-secondary" routerLink="/">Home</a>
  <ul>
    <a class="btn btn-outline-secondary"routerLink="league-home">League Home</a>
    <a class="btn btn-outline-secondary"routerLink="team-page">Team Page</a>
    <a class="btn btn-outline-secondary"routerLink="player-list">Player List</a>
    <a class="btn btn-outline-secondary"routerLink="matchup">Matchup</a>
    <a class="btn btn-outline-secondary"routerLink="league-settings">League Settings</a>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <p>© 2018 {{devNames}}</p>
</footer>
