<nav id="topnav" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand btn btn-outline-secondary" routerLink="/">Home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="isLoggedIn">
        <a class="btn">User: {{userName}}</a>
        <a class="btn btn-outline-secondary" (click)="logout()">Log out</a>
      </li>
      <li *ngIf ="!isLoggedIn">
        <a class="btn btn-outline-secondary" (click)="login()">Log in</a>
      </li>
    </ul>
  </div>
</nav>
<nav id="actionNav" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

    </div>
    <ul class="">
      <a class="btn btn-outline-secondary"routerLink="team-page">Team Page</a>
      <a class="btn btn-outline-secondary"routerLink="player-list">Player List</a>
      <a class="btn btn-outline-secondary"routerLink="matchup">Matchup</a>
    </ul>
  </div>
<nav class="navbar sticky-top">
  <a class="navbar-brand btn btn-secondary" routerLink="/">Home</a>
  <ul>
    <a class="btn btn-outline-secondary"routerLink="league-home">League Home</a>
    <a class="btn btn-outline-secondary"routerLink="team-page">Team Page</a>
    <a class="btn btn-outline-secondary"routerLink="player-list">Player List</a>
    <a class="btn btn-outline-secondary"routerLink="matchup">Matchup</a>
    <a class="btn btn-outline-secondary"routerLink="league-settings">League Settings</a>
    <a class="btn btn-outline-secondary"routerLink="draft">Draft!</a>
  </ul>
</nav>
<!-- body content -->
<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- footer -->
<footer class="footer">
  <div class="container-fluid">
    <p>© 2018 {{devNames}}</p>
  </div>
</footer>
