.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
a.btn {
  color: #FFF;
}
/*nav {
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}*/
