.footer {
  background-color: black;
  position: fixed;
  font-size: 8pt;
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
a.btn {
  color: #FFF;
}
a, li{
  color: #fff;
}
#topnav {
  padding-top, padding-bottom: 20px;
  background-color: black;
}
